#markdown-container {
    padding: 10px;
    color: white;
    background-color: #2C5E4F;
}

#markdown-container a {
    color: white;
}

#markdown-container a:hover {
    color: #bb4eac;
}

#markdown-container h1 {
    color: #bb4eac;
}

#markdown-container h2,
#markdown-container h3,
#markdown-container h4,
#markdown-container h5,
#markdown-container h6 {
    color: #66d08f;
}